- HOTEL: ✅
- IS_CANCELED: To boolean  ✅
- LEAD_TIME: To int  ✅
- ARRIVAL_DATE_YEAR: To int  ✅
- ARRIVAL_DATE_MONTH: Change all values to 'Name' ✅
- ARRIVAL_DATE_WEEK_NUMBER: To int  ✅
- ARRIVAL_DATE_DAY_OF_MONTH: To int  ✅
- STAYS_IN_WEEKEND_NIGHTS: To int  ✅
- STAYS_IN_WEEK_NIGHTS: To int  ✅
- ADULTS: to int  ✅
- CHILDREN: To int  ✅
- BABIES: To int  ✅
- MEAL: SC?? Undefined to nan ✅
- COUNTRY: ✅
- MARKET_SEGMENT: Undefined to nan ✅
- DISTRIBUTION_CHANNEL: Undefined to nan ✅
- IS_REPEATED_GUEST: To int  ✅
- PREVIOUS_CANCELLATIONS: To int  ✅
- PREVIOUS_BOOKINGS_NOT_CANCELED: To int  ✅
- RESERVED_ROOM_TYPE: ✅
- ASSIGNED_ROOM_TYPE: ✅
- BOOKING_CHANGES: To int  ✅
- AGENT: To int  ✅
- COMPANY: To int  ✅
- DAYS_IN_WAITING_LIST: To int  ✅
- CUSTOMER_TYPE: ✅
- ADR (Average daily rate): ❓ Numeros negativos!  ✅
- REQUIRED_CAR_PARKING_SPACES: To int  ✅
- TOTAL_OF_SPECIAL_REQUESTS: To int  ✅
- RESERVATION_STATUS: ✅
- RESERVATION_STATUS_DATE: To date ✅
- 0: ❓❓❓ Numeros random A ELIMINAR ✅

In [27]:
import pandas as pd
import warnings 
import datetime
import numpy as np

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [28]:
df = pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)
df.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
180450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
35550,Resort Hotel,False,109.0,2017.0,April,17.0,25.0,0.0,2.0,1.0,0.0,0.0,HB,AUT,NaN,NaN,0.0,NaN,0.0,NaN,A,0.0,502.0,NaN,0.0,Transient-Party,0.00,0.0,0.0,Check-Out,2017-04-27 00:00:00,NaN
167107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
102779,City Hotel,False,0.0,2016.0,December,49.0,3.0,2.0,1.0,2.0,NaN,0.0,BB,NaN,Direct,NaN,0.0,NaN,0.0,NaN,A,2.0,NaN,NaN,0.0,Transient,103.67,0.0,0.0,Check-Out,2016-06-12 00:00:00,NaN
107090,City Hotel,False,137.0,NaN,March,10.0,6.0,1.0,1.0,1.0,0.0,0.0,BB,ISR,NaN,NaN,0.0,NaN,0.0,A,A,1.0,37.0,NaN,0.0,Transient-Party,65.00,0.0,0.0,Check-Out,2017-08-03 00:00:00,NaN
126162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
136538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Check-Out
132972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Direct
80209,City Hotel,False,8.0,NaN,November,46.0,11.0,0.0,3.0,2.0,0.0,0.0,BB,NaN,NaN,TA/TO,0.0,NaN,0.0,D,E,1.0,9.0,NaN,0.0,Contract,107.00,0.0,1.0,Check-Out,NaN,NaN
158573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.shape

(182877, 32)

In [30]:
df.duplicated().sum()

63040

In [31]:
df.drop_duplicates(inplace=True)

In [66]:
for column in df.columns.tolist():
    print(column.upper(),':')
    print(df[column].dtype)
    if df[column].dtype == float or df[column].dtype == int:
        print('Max:', df[column].max()) 
        print('Min:', df[column].min())    
    print('Null:',df[column].isnull().sum())

    print('% nulos:',np.round((df[column].isnull().sum()/df.shape[0])*100,2))

    print(df[column].unique(),'\n')

HOTEL :
object
Null: 1832
% nulos: 1.53
['Resort Hotel' 'City Hotel' nan]

IS_CANCELED :
bool
Null: 0
% nulos: 0.0
[False  True]

LEAD_TIME :
Int64
Null: 1732
% nulos: 1.45
<IntegerArray>
[ 342,  737,    7,   13,   14,    0,    9,   85,   75,   23,
 ...
  504,  507,  458,  518,  521,  377,  444,  380,  463, <NA>]
Length: 480, dtype: Int64

ARRIVAL_DATE_YEAR :
Int64
Null: 55814
% nulos: 46.57
<IntegerArray>
[2015, <NA>, 2016, 2017]
Length: 4, dtype: Int64

ARRIVAL_DATE_MONTH :
object
Null: 1832
% nulos: 1.53
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June' nan]

ARRIVAL_DATE_WEEK_NUMBER :
Int64
Null: 20170
% nulos: 16.83
<IntegerArray>
[  27, <NA>,   28,   29,   30,   31,   32,   33,   34,   35,   36,   37,   38,
   39,   40,   41,   42,   43,   44,   45,   46,   47,   48,   49,   50,   51,
   52,   53,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,   24,
   25,   26]
Length: 54, dtype: Int64

ARRIVAL_DATE_DAY_OF_MONTH :
Int64
Null: 1951
% nulos: 1.63
<IntegerArray>
[   1,    2, <NA>,    3,    4,    5,    6,    7,    8,    9,   10,   11,   12,
   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,   23,   24,   25,
   26,   27,   28,   29,   30,   31]
Length: 32, dtype: Int64

STAYS_IN_WEEKEND_NIGHTS :
Int64
Null: 1732
% nulos: 1.45
<IntegerArray>
[0, 1, 2, 4, 3, 6, 13, 8, 5, 7, 12, 9, 16, 18, 19, 10, 14, <NA>, 11, 17, 15,
 20]
Length: 22, dtype: Int64

STAYS_IN_WEEK_NIGHTS :
Int64
Null: 1732
% nulos: 1.45
<IntegerArray>
[   0,    1,    2,    3,    4,    5,   10,   11,    8,    6,    7,   15,    9,
   12,   33,   20,   14,   16,   21,   13,   30,   19,   24,   40,   22,   42,
   50,   25,   17,   32,   26,   18,   34,   35,   41, <NA>,   23]
Length: 37, dtype: Int64

ADULTS :
Int64
Null: 1804
% nulos: 1.51
<IntegerArray>
[   2,    1,   51,    3,   52,   53,   55,   57,   54,   59,    4,   58,   56,
   50,   26,   27,    0,   20,    6,    5,   10,   16,   19,   11,   13,   15,
   14,   12,   18,   17, <NA>]
Length: 31, dtype: Int64

CHILDREN :
Int64
Null: 51430
% nulos: 42.92
<IntegerArray>
[<NA>, 0, 1, 2, 10, 19, 3, 17, 11, 18, 13, 16, 14, 15, 12]
Length: 15, dtype: Int64

BABIES :
Int64
Null: 1801
% nulos: 1.5
<IntegerArray>
[0, 1, 18, 2, 17, 13, 15, 16, 12, 10, 11, 19, 9, 14, <NA>]
Length: 15, dtype: Int64

MEAL :
object
Null: 2980
% nulos: 2.49
['BB' 'FB' 'HB' 'SC' nan]

COUNTRY :
object
Null: 55586
% nulos: 46.38
['PRT' nan 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG' 'DEU'
 'CHE' 'GRC' 'NLD' 'DNK' 'RUS' 'POL' 'AUS' 'EST' 'CZE' 'BRA' 'BEL' 'CN'
 'SWE' 'FIN' 'MOZ' 'SVN' 'MAR' 'ITA' 'UKR' 'SMR' 'LVA' 'PRI' 'CHL' 'CHN'
 'LTU' 'LUX' 'AUT' 'TUR' 'MEX' 'ZAF' 'AGO' 'ISR' 'IND' 'CYM' 'ZMB' 'CPV'
 'ZWE' 'DZA' 'KOR' 'HUN' 'ARE' 'TUN' 'JAM' 'ALB' 'HRV' 'HKG' 'AND' 'GIB'
 'URY' 'BLR' 'JEY' 'CYP' 'MDV' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'COL'
 'SEN' 'GEO' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MYS' 'VEN' 'ARM' 'LKA' 'CUB'
 'CMR' 'IRN' 'BIH' 'NGA' 'COM' 'BGR' 'CIV' 'SRB' 'JOR' 'SYR' 'BDI' 'SGP'
 'KWT' 'PLW' 'QAT' 'SVK' 'SUR' 'MLT' 'MWI' 'MDG' 'ISL' 'JPN' 'CAF' 'TGO'
 'TWN' 'DJI' 'VNM' 'PER' 'EGY' 'SAU' 'KNA' 'ETH' 'ECU' 'IRQ' 'KHM' 'MCO'
 'BGD' 'TJK' 'NIC' 'GGY' 'BEN' 'VGB' 'CRI' 'TZA' 'GAB' 'MKD' 'TMP' 'GLP'
 'LIE' 'GNB' 'MAC' 'IMN' 'UMI' 'MYT' 'GHA' 'FRO' 'MMR' 'PAN' 'MUS' 'LBY'
 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'DMA' 'UGA' 'MNE' 'GTM' 'ASM' 'KEN'
 'NCL' 'STP' 'KIR' 'SDN' 'ATF' 'SLE' 'SLV' 'LAO']

MARKET_SEGMENT :
object
Null: 60598
% nulos: 50.57
[nan 'Corporate' 'Online TA' 'Direct' 'Offline TA/TO' 'Groups'
 'Complementary' 'Aviation']

DISTRIBUTION_CHANNEL :
object
Null: 15303
% nulos: 12.77
['Direct' 'Corporate' 'TA/TO' nan 'GDS']

IS_REPEATED_GUEST :
Int64
Null: 6844
% nulos: 5.71
<IntegerArray>
[0, <NA>, 1]
Length: 3, dtype: Int64

PREVIOUS_CANCELLATIONS :
Int64
Null: 44667
% nulos: 37.27
<IntegerArray>
[<NA>,    0,   14,   10,   19,   13,   17,    1,    2,    3,   26,   25,    4,
   24,   12,   16,    5,   11,   15,   18,   21,    6]
Length: 22, dtype: Int64

PREVIOUS_BOOKINGS_NOT_CANCELED :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,   12,
   13,   14,   15,   16,   17,   18,   20,   21,   22,   23,   24,   25,   27,
   28,   29,   30,   19,   26,   31,   32,   33,   34,   35,   36,   37,   38,
   39,   40,   41,   42,   43,   44,   45,   46,   47,   48,   49,   50,   51,
   52,   53,   54,   55,   56,   57,   58,   59,   60,   61,   62,   63,   64,
   65,   66,   67,   68,   69,   70,   71,   72, <NA>]
Length: 74, dtype: Int64

RESERVED_ROOM_TYPE :
object
Null: 41639
% nulos: 34.75
['C' nan 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']

ASSIGNED_ROOM_TYPE :
object
Null: 1832
% nulos: 1.53
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K' nan]

BOOKING_CHANGES :
Int64
Null: 1811
% nulos: 1.51
<IntegerArray>
[   3,    4,    0,    1,    2,    5,   17,   18,    6,   14,   15,   10,   11,
    8,    7,   16,   19,   12,    9,   13,   20,   21, <NA>]
Length: 23, dtype: Int64

AGENT :
Int64
Null: 17982
% nulos: 15.01
<IntegerArray>
[<NA>,  304,  240,  303,   15,  241,    8,  250,  115,    5,
 ...
  444,  408,  461,  388,  453,  459,  474,  475,  480,  449]
Length: 334, dtype: Int64

COMPANY :
Int64
Null: 115988
% nulos: 96.79
<IntegerArray>
[<NA>,  110,  270,  240,  154,  144,  307,  268,   59,  204,
 ...
  478,  485,  483,  229,  486,  491,  245,  497,  439,  451]
Length: 311, dtype: Int64

DAYS_IN_WAITING_LIST :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[   0,   50,   47,   65,  122,   75,  101,  150,  125,   14,
 ...
   45,   19,   42,   72,   81,   92,   74,  167,   36, <NA>]
Length: 129, dtype: Int64

CUSTOMER_TYPE :
object
Null: 26925
% nulos: 22.47
['Transient' nan 'Contract' 'Transient-Party' 'Group']

ADR :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[   0,   75,   98,  107,  103,   82,  106,  123,  145,   97,
 ...
   15,    1, 5400,  333,  365,   17,  376,  452,  510, <NA>]
Length: 379, dtype: Int64

REQUIRED_CAR_PARKING_SPACES :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[0, 1, 2, 8, 3, <NA>]
Length: 6, dtype: Int64

TOTAL_OF_SPECIAL_REQUESTS :
Int64
Null: 1832
% nulos: 1.53
<IntegerArray>
[0, 1, 3, 2, 4, 5, <NA>]
Length: 7, dtype: Int64

RESERVATION_STATUS :
object
Null: 1832
% nulos: 1.53
['Check-Out' 'Canceled' 'No-Show' nan]

RESERVATION_STATUS_DATE :
datetime64[ns]
Null: 119837
% nulos: 100.0
['NaT']

In [53]:
def to_abs(data, lista):
    for column in lista:
        data[column]=data[column].abs()

def to_int(data, lista):
    for column in lista:
        data[column]=data[column].round(0) 
        data[column]=data[column].astype('Int64')

def to_bool(data, lista):
    for column in lista:
        data[column]=data[column].astype(bool)

def to_date(data, lista):
    for column in lista:
        # Convertimos a string para que todas las fechas sean tratadas como cadenas
        data[column]=data[column].astype(str)
        # Normalizamos las fechas, agregando la hora por defecto
        data[column]=data[column].apply(lambda x: x if ' ' in x else x + '00:00:00')
        # Convertimos las fechas a datetime. Las fechas inválidas se convertiran a NaT
        # Manejamos los errores con el parametro errors='coerce' --> los valores invalidos o fuera de rango se convertiran a NaT
        data[column]=pd.to_datetime(data[column], errors='coerce')
        # Modificamos los nulos
        data[column]=data[column].fillna('NaT')

def to_nan (data, lista):
    for column in lista:
        data[column]=data[column].replace('Undefined',np.nan)

In [36]:
to_abs(df, ['adr'])

lista_decimales=df.select_dtypes(include=['float']).columns.tolist()
to_int(df, lista_decimales)

to_bool(df, ['is_canceled'])

to_date(df, ['reservation_status_date'])

In [37]:
df.dtypes

hotel                                     object
is_canceled                                 bool
lead_time                                  Int64
arrival_date_year                          Int64
arrival_date_month                        object
arrival_date_week_number                   Int64
arrival_date_day_of_month                  Int64
stays_in_weekend_nights                    Int64
stays_in_week_nights                       Int64
adults                                     Int64
children                                   Int64
babies                                     Int64
meal                                      object
country                                   object
market_segment                            object
distribution_channel                      object
is_repeated_guest                          Int64
previous_cancellations                     Int64
previous_bookings_not_canceled             Int64
reserved_room_type                        object
assigned_room_type                        object
booking_changes                            Int64
agent                                      Int64
company                                    Int64
days_in_waiting_list                       Int64
customer_type                             object
adr                                        Int64
required_car_parking_spaces                Int64
total_of_special_requests                  Int64
reservation_status                        object
reservation_status_date           datetime64[ns]
0                                         object
dtype: object

In [38]:
df['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       '1', 'January', 'February', '2', '3', 'March', 'April', 'May',
       'June', nan], dtype=object)

In [42]:
dict_meses={'1':'January',
           '2':'February',
           '3':'March'}

df['arrival_date_month']=df['arrival_date_month'].replace(dict_meses)

In [46]:
len(df['arrival_date_month'].unique())

13

In [56]:
lista_col_to_nan = ['meal', 'market_segment','distribution_channel']

In [57]:
to_nan(df, lista_col_to_nan)

In [61]:
df['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', nan, 'GDS'], dtype=object)

In [64]:
df.drop('0',axis=1, inplace=True)

In [69]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'agent', 'company',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

### Nulos:
- Hotel: cambio por MODA
- lead_time: MEDIANA
- arrival_date_month:

In [84]:
df['stays_in_weekend_nights'].unique()

<IntegerArray>
[0, 1, 2, 4, 3, 6, 13, 8, 5, 7, 12, 9, 16, 18, 19, 10, 14, <NA>, 11, 17, 15,
 20]
Length: 22, dtype: Int64

In [85]:
df['stays_in_weekend_nights'].value_counts()

0     51138
2     33101
1     30310
4      1854
3      1258
6       153
5        79
8        60
7        19
15       14
10       13
18       12
11       12
12       12
16       11
9        11
17       11
13       11
14       10
19        9
20        7
Name: stays_in_weekend_nights, dtype: Int64

In [86]:
df['stays_in_weekend_nights'].describe()

count    118105.000000
mean          0.944211
std           1.084596
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          20.000000
Name: stays_in_weekend_nights, dtype: float64

## Sharon

In [63]:
# Convertimos a string para que todas las fechas sean tratadas como cadenas
df['reservation_status_date']=df['reservation_status_date'].astype(str)

In [44]:
# Normalizamos las fechas, agregando la hora por defecto
df['reservation_status_date']=df['reservation_status_date'].apply(lambda x: x if ' ' in x else x + '00:00:00')

In [64]:
# Convertimos las fechas a datetime. Las fechas inválidas se convertiran a NaT
# Manejamos los errores con el parametro errors='coerce' --> los valores invalidos o fuera de rango se convertiran a NaT
df['reservation_status_date']=pd.to_datetime(df['reservation_status_date'], errors='coerce')
df['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
182872          NaT
182873          NaT
182874          NaT
182875          NaT
182876          NaT
Name: reservation_status_date, Length: 119837, dtype: datetime64[ns]

In [65]:
# Formateamos las fechas para que tengan el formato correcto:

df['reservation_status_date']=df['reservation_status_date'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [67]:
df['reservation_status_date']=df['reservation_status_date'].fillna('NaT')

In [68]:
df['reservation_status_date'].unique()

array(['2015-07-01 00:00:00', '2015-07-02 00:00:00',
       '2015-07-03 00:00:00', '2015-05-06 00:00:00',
       '2015-04-22 00:00:00', '2015-06-23 00:00:00',
       '2015-07-05 00:00:00', 'NaT', '2015-07-07 00:00:00',
       '2015-07-08 00:00:00', '2015-05-11 00:00:00',
       '2015-07-15 00:00:00', '2015-07-16 00:00:00',
       '2015-05-29 00:00:00', '2015-05-19 00:00:00',
       '2015-06-19 00:00:00', '2015-07-06 00:00:00',
       '2015-05-23 00:00:00', '2015-05-18 00:00:00',
       '2015-07-09 00:00:00', '2015-06-02 00:00:00',
       '2015-07-04 00:00:00', '2015-06-29 00:00:00',
       '2015-06-16 00:00:00', '2015-06-18 00:00:00',
       '2015-06-12 00:00:00', '2015-06-09 00:00:00',
       '2015-05-26 00:00:00', '2015-07-11 00:00:00',
       '2015-07-12 00:00:00', '2015-07-13 00:00:00',
       '2015-07-17 00:00:00', '2015-04-15 00:00:00',
       '2015-05-13 00:00:00', '2015-07-10 00:00:00',
       '2015-05-20 00:00:00', '2015-05-12 00:00:00',
       '2015-07-14 00:00:00', '2015-06-17 00:00:00',
       '2015-05-01 00:00:00', '2015-07-19 00:00:00',
       '2015-06-03 00:00:00', '2015-06-26 00:00:00',
       '2015-05-14 00:00:00', '2015-07-20 00:00:00',
       '2015-05-07 00:00:00', '2015-05-28 00:00:00',
       '2015-04-13 00:00:00', '2015-03-25 00:00:00',
       '2015-07-21 00:00:00', '2015-06-27 00:00:00',
       '2015-07-18 00:00:00', '2015-07-23 00:00:00',
       '2015-06-08 00:00:00', '2015-03-05 00:00:00',
       '2015-06-22 00:00:00', '2015-04-24 00:00:00',
       '2015-07-22 00:00:00', '2015-05-27 00:00:00',
       '2015-04-06 00:00:00', '2015-04-11 00:00:00',
       '2015-07-25 00:00:00', '2015-07-28 00:00:00',
       '2015-07-29 00:00:00', '2015-07-24 00:00:00',
       '2015-06-30 00:00:00', '2015-06-24 00:00:00',
       '2015-07-27 00:00:00', '2015-04-29 00:00:00',
       '2015-06-04 00:00:00', '2015-06-11 00:00:00',
       '2015-06-01 00:00:00', '2015-07-26 00:00:00',
       '2015-08-01 00:00:00', '2015-08-02 00:00:00',
       '2015-06-15 00:00:00', '2015-04-23 00:00:00',
       '2015-07-30 00:00:00', '2015-07-31 00:00:00',
       '2015-06-05 00:00:00', '2015-05-25 00:00:00',
       '2015-08-03 00:00:00', '2015-04-17 00:00:00',
       '2015-08-04 00:00:00', '2015-08-06 00:00:00',
       '2015-05-15 00:00:00', '2015-06-25 00:00:00',
       '2015-05-09 00:00:00', '2015-03-17 00:00:00',
       '2015-05-22 00:00:00', '2015-08-07 00:00:00',
       '2015-04-04 00:00:00', '2015-08-05 00:00:00',
       '2015-08-08 00:00:00', '2015-08-10 00:00:00',
       '2015-05-04 00:00:00', '2015-06-06 00:00:00',
       '2015-08-09 00:00:00', '2015-08-15 00:00:00',
       '2015-08-11 00:00:00', '2015-03-28 00:00:00',
       '2015-08-14 00:00:00', '2015-08-12 00:00:00',
       '2015-08-16 00:00:00', '2015-08-21 00:00:00',
       '2015-08-13 00:00:00', '2015-08-17 00:00:00',
       '2015-04-20 00:00:00', '2015-08-18 00:00:00',
       '2015-08-23 00:00:00', '2015-08-22 00:00:00',
       '2015-08-19 00:00:00', '2015-08-20 00:00:00',
       '2015-08-29 00:00:00', '2015-03-31 00:00:00',
       '2015-05-30 00:00:00', '2015-08-25 00:00:00',
       '2015-08-24 00:00:00', '2015-03-24 00:00:00',
       '2015-05-21 00:00:00', '2015-08-28 00:00:00',
       '2015-08-26 00:00:00', '2015-08-27 00:00:00',
       '2015-08-30 00:00:00', '2015-08-31 00:00:00',
       '2015-09-06 00:00:00', '2015-09-03 00:00:00',
       '2015-09-04 00:00:00', '2015-09-02 00:00:00',
       '2015-09-01 00:00:00', '2015-09-05 00:00:00',
       '2015-06-20 00:00:00', '2015-09-07 00:00:00',
       '2015-09-10 00:00:00', '2015-09-11 00:00:00',
       '2015-09-08 00:00:00', '2015-09-09 00:00:00',
       '2015-09-13 00:00:00', '2015-09-15 00:00:00',
       '2015-04-10 00:00:00', '2015-01-02 00:00:00',
       '2014-11-18 00:00:00', '2015-09-12 00:00:00',
       '2015-09-17 00:00:00', '2015-09-14 00:00:00',
       '2015-04-07 00:00:00', '2015-09-19 00:00:00',
       '2015-09-16 00:00:00', '2015-09-20 00:00:00',
       '2015-01-18 00:00:00', '2015-10-23 00:00:00',
       '2015-01-22 00:00:00', '2015-01-01 00:00:00',
       '2015-09-22 00:00:00', '2015-09-24 00:00:00',
       '2015-09-18 00:00:00', '2015-09-21 00:00:00',
       '2015-09-25 00:00:00', '2015-09-27 00:00:00',
       '2015-09-28 00:00:00', '2015-10-12 00:00:00',
       '2015-06-13 00:00:00', '2015-09-29 00:00:00',
       '2015-09-23 00:00:00', '2015-10-01 00:00:00',
       '2015-09-26 00:00:00', '2015-04-18 00:00:00',
       '2015-09-30 00:00:00', '2015-10-02 00:00:00',
       '2015-10-04 00:00:00', '2015-10-08 00:00:00',
       '2015-10-03 00:00:00', '2015-10-09 00:00:00',
       '2015-10-11 00:00:00', '2015-10-05 00:00:00',
       '2015-10-10 00:00:00', '2015-10-06 00:00:00',
       '2015-10-07 00:00:00', '2015-10-14 00:00:00',
       '2015-10-15 00:00:00', '2015-10-18 00:00:00',
       '2015-10-13 00:00:00', '2015-10-20 00:00:00',
       '2015-10-19 00:00:00', '2015-10-31 00:00:00',
       '2015-10-16 00:00:00', '2015-10-21 00:00:00',
       '2015-10-22 00:00:00', '2015-10-17 00:00:00',
       '2015-10-24 00:00:00', '2015-10-25 00:00:00',
       '2015-10-28 00:00:00', '2015-10-27 00:00:00',
       '2015-10-26 00:00:00', '2015-10-30 00:00:00',
       '2015-11-05 00:00:00', '2015-10-29 00:00:00',
       '2015-11-03 00:00:00', '2015-11-07 00:00:00',
       '2015-11-04 00:00:00', '2015-11-01 00:00:00',
       '2015-11-17 00:00:00', '2015-11-02 00:00:00',
       '2015-11-06 00:00:00', '2015-11-08 00:00:00',
       '2015-11-09 00:00:00', '2015-11-10 00:00:00',
       '2015-11-15 00:00:00', '2015-11-16 00:00:00',
       '2015-11-11 00:00:00', '2015-11-12 00:00:00',
       '2015-11-14 00:00:00', '2015-11-13 00:00:00',
       '2015-11-18 00:00:00', '2015-11-22 00:00:00',
       '2015-11-21 00:00:00', '2015-11-20 00:00:00',
       '2015-11-24 00:00:00', '2015-11-25 00:00:00',
       '2015-11-23 00:00:00', '2015-11-28 00:00:00',
       '2015-11-26 00:00:00', '2015-11-19 00:00:00',
       '2015-11-27 00:00:00', '2015-11-29 00:00:00',
       '2015-12-04 00:00:00', '2015-12-01 00:00:00',
       '2015-12-06 00:00:00', '2015-12-08 00:00:00',
       '2015-12-02 00:00:00', '2015-12-03 00:00:00',
       '2015-12-31 00:00:00', '2015-12-05 00:00:00',
       '2015-12-10 00:00:00', '2015-12-17 00:00:00',
       '2015-11-30 00:00:00', '2015-12-12 00:00:00',
       '2015-12-07 00:00:00', '2015-12-13 00:00:00',
       '2015-12-15 00:00:00', '2015-12-16 00:00:00',
       '2015-12-19 00:00:00', '2015-12-18 00:00:00',
       '2015-12-26 00:00:00', '2015-12-27 00:00:00',
       '2016-01-05 00:00:00', '2015-12-22 00:00:00',
       '2015-12-24 00:00:00', '2015-12-29 00:00:00',
       '2015-12-20 00:00:00', '2015-12-23 00:00:00',
       '2015-12-30 00:00:00', '2016-01-02 00:00:00',
       '2016-01-01 00:00:00', '2015-12-28 00:00:00',
       '2015-12-25 00:00:00', '2016-01-03 00:00:00',
       '2016-01-04 00:00:00', '2016-01-11 00:00:00',
       '2016-01-07 00:00:00', '2015-12-21 00:00:00',
       '2016-01-09 00:00:00', '2016-01-10 00:00:00',
       '2016-01-08 00:00:00', '2016-01-06 00:00:00',
       '2016-01-12 00:00:00', '2016-01-13 00:00:00',
       '2016-01-23 00:00:00', '2016-01-15 00:00:00',
       '2016-01-16 00:00:00', '2016-01-17 00:00:00',
       '2016-01-19 00:00:00', '2016-01-18 00:00:00',
       '2016-01-21 00:00:00', '2016-01-24 00:00:00',
       '2016-01-22 00:00:00', '2016-01-29 00:00:00',
       '2016-01-27 00:00:00', '2016-01-25 00:00:00',
       '2016-03-08 00:00:00', '2016-01-26 00:00:00',
       '2016-01-20 00:00:00', '2016-01-30 00:00:00',
       '2016-02-01 00:00:00', '2016-02-08 00:00:00',
       '2016-02-07 00:00:00', '2016-01-28 00:00:00',
       '2016-02-05 00:00:00', '2016-02-03 00:00:00',
       '2016-02-09 00:00:00', '2016-02-13 00:00:00',
       '2016-02-10 00:00:00', '2016-02-02 00:00:00',
       '2016-02-04 00:00:00', '2016-02-12 00:00:00',
       '2016-02-11 00:00:00', '2016-02-16 00:00:00',
       '2016-02-14 00:00:00', '2015-12-11 00:00:00',
       '2016-02-20 00:00:00', '2016-02-15 00:00:00',
       '2016-02-06 00:00:00', '2016-01-14 00:00:00',
       '2016-02-17 00:00:00', '2016-02-21 00:00:00',
       '2016-02-24 00:00:00', '2016-02-25 00:00:00',
       '2016-02-19 00:00:00', '2016-02-18 00:00:00',
       '2016-02-26 00:00:00', '2016-02-23 00:00:00',
       '2016-03-05 00:00:00', '2016-02-22 00:00:00',
       '2016-02-27 00:00:00', '2016-03-03 00:00:00',
       '2016-03-24 00:00:00', '2016-02-29 00:00:00',
       '2016-03-01 00:00:00', '2016-03-02 00:00:00',
       '2016-03-30 00:00:00', '2016-03-04 00:00:00',
       '2016-03-07 00:00:00', '2016-03-14 00:00:00',
       '2016-03-21 00:00:00', '2016-03-09 00:00:00',
       '2016-03-12 00:00:00', '2016-03-22 00:00:00',
       '2016-03-10 00:00:00', '2016-03-11 00:00:00',
       '2016-03-20 00:00:00', '2016-03-15 00:00:00',
       '2016-03-17 00:00:00', '2016-03-16 00:00:00',
       '2016-03-19 00:00:00', '2016-03-27 00:00:00',
       '2016-03-18 00:00:00', '2016-03-26 00:00:00',
       '2016-03-31 00:00:00', '2016-03-28 00:00:00',
       '2016-03-29 00:00:00', '2016-04-01 00:00:00',
       '2016-03-23 00:00:00', '2016-04-02 00:00:00',
       '2016-03-25 00:00:00', '2016-03-13 00:00:00',
       '2016-04-04 00:00:00', '2016-04-03 00:00:00',
       '2016-04-05 00:00:00', '2016-04-08 00:00:00',
       '2016-04-06 00:00:00', '2016-04-09 00:00:00',
       '2016-04-12 00:00:00', '2016-04-16 00:00:00',
       '2016-04-17 00:00:00', '2016-04-14 00:00:00',
       '2016-04-18 00:00:00', '2016-04-21 00:00:00',
       '2016-04-19 00:00:00', '2016-04-20 00:00:00',
       '2016-04-10 00:00:00', '2016-04-13 00:00:00',
       '2016-04-11 00:00:00', '2016-04-07 00:00:00',
       '2016-04-15 00:00:00', '2016-04-22 00:00:00',
       '2016-04-23 00:00:00', '2016-04-26 00:00:00',
       '2016-04-28 00:00:00', '2016-04-24 00:00:00',
       '2016-04-25 00:00:00', '2016-04-29 00:00:00',
       '2016-04-30 00:00:00', '2016-05-10 00:00:00',
       '2016-04-27 00:00:00', '2016-05-02 00:00:00',
       '2016-05-07 00:00:00', '2016-05-08 00:00:00',
       '2016-05-12 00:00:00', '2016-05-01 00:00:00',
       '2016-05-04 00:00:00', '2016-05-06 00:00:00',
       '2016-05-03 00:00:00', '2016-05-09 00:00:00',
       '2016-05-05 00:00:00', '2016-05-13 00:00:00',
       '2016-05-14 00:00:00', '2016-05-18 00:00:00',
       '2016-05-19 00:00:00', '2016-05-15 00:00:00',
       '2016-05-16 00:00:00', '2016-05-11 00:00:00',
       '2016-05-21 00:00:00', '2016-05-22 00:00:00',
       '2016-05-20 00:00:00', '2016-05-24 00:00:00',
       '2016-05-26 00:00:00', '2016-05-23 00:00:00',
       '2016-05-27 00:00:00', '2016-05-17 00:00:00',
       '2016-05-25 00:00:00', '2016-05-29 00:00:00',
       '2016-05-28 00:00:00', '2016-05-30 00:00:00',
       '2016-05-31 00:00:00', '2016-06-01 00:00:00',
       '2016-06-03 00:00:00', '2016-06-08 00:00:00',
       '2016-06-02 00:00:00', '2016-06-05 00:00:00',
       '2016-06-06 00:00:00', '2016-06-13 00:00:00',
       '2016-06-07 00:00:00', '2016-06-10 00:00:00',
       '2016-06-11 00:00:00', '2016-06-12 00:00:00',
       '2016-06-14 00:00:00', '2016-06-17 00:00:00',
       '2016-06-04 00:00:00', '2016-06-16 00:00:00',
       '2016-06-18 00:00:00', '2016-06-21 00:00:00',
       '2016-06-09 00:00:00', '2016-06-24 00:00:00',
       '2016-06-20 00:00:00', '2016-06-25 00:00:00',
       '2016-06-22 00:00:00', '2016-06-26 00:00:00',
       '2016-06-23 00:00:00', '2016-07-01 00:00:00',
       '2016-06-15 00:00:00', '2016-06-28 00:00:00',
       '2016-07-02 00:00:00', '2016-06-19 00:00:00',
       '2016-06-27 00:00:00', '2016-07-04 00:00:00',
       '2016-06-30 00:00:00', '2016-07-05 00:00:00',
       '2016-07-08 00:00:00', '2016-07-09 00:00:00',
       '2016-07-07 00:00:00', '2016-07-12 00:00:00',
       '2016-06-29 00:00:00', '2016-07-10 00:00:00',
       '2016-07-15 00:00:00', '2016-07-03 00:00:00',
       '2016-07-16 00:00:00', '2016-07-14 00:00:00',
       '2016-07-18 00:00:00', '2016-07-13 00:00:00',
       '2016-07-06 00:00:00', '2016-07-21 00:00:00',
       '2016-07-19 00:00:00', '2016-07-11 00:00:00',
       '2016-07-20 00:00:00', '2016-07-28 00:00:00',
       '2016-07-17 00:00:00', '2016-07-25 00:00:00',
       '2016-07-22 00:00:00', '2016-07-23 00:00:00',
       '2016-07-29 00:00:00', '2016-08-03 00:00:00',
       '2016-08-02 00:00:00', '2016-08-04 00:00:00',
       '2016-08-08 00:00:00', '2016-08-10 00:00:00',
       '2016-08-01 00:00:00', '2016-08-06 00:00:00',
       '2016-03-06 00:00:00', '2016-08-05 00:00:00',
       '2016-07-26 00:00:00', '2016-08-07 00:00:00',
       '2016-07-24 00:00:00', '2016-08-12 00:00:00',
       '2016-07-27 00:00:00', '2016-08-13 00:00:00',
       '2016-08-18 00:00:00', '2016-08-16 00:00:00',
       '2016-08-15 00:00:00', '2016-08-17 00:00:00',
       '2016-08-11 00:00:00', '2016-07-31 00:00:00',
       '2016-07-30 00:00:00', '2016-09-01 00:00:00',
       '2016-08-23 00:00:00', '2016-08-20 00:00:00',
       '2016-08-21 00:00:00', '2016-09-04 00:00:00',
       '2016-08-22 00:00:00', '2016-08-27 00:00:00',
       '2016-08-25 00:00:00', '2016-08-09 00:00:00',
       '2016-08-26 00:00:00', '2016-09-05 00:00:00',
       '2016-08-24 00:00:00', '2016-09-10 00:00:00',
       '2016-08-29 00:00:00', '2016-09-09 00:00:00',
       '2016-08-30 00:00:00', '2016-08-19 00:00:00',
       '2016-09-13 00:00:00', '2016-08-31 00:00:00',
       '2016-09-12 00:00:00', '2016-09-15 00:00:00',
       '2016-08-14 00:00:00', '2016-09-02 00:00:00',
       '2016-09-14 00:00:00', '2016-09-08 00:00:00',
       '2016-09-19 00:00:00', '2016-09-16 00:00:00',
       '2016-09-07 00:00:00', '2016-09-21 00:00:00',
       '2016-09-06 00:00:00', '2016-09-22 00:00:00',
       '2016-09-17 00:00:00', '2016-09-20 00:00:00',
       '2016-09-03 00:00:00', '2016-09-26 00:00:00',
       '2016-09-23 00:00:00', '2016-09-18 00:00:00',
       '2016-10-02 00:00:00', '2016-10-01 00:00:00',
       '2016-09-27 00:00:00', '2016-09-25 00:00:00',
       '2016-10-05 00:00:00', '2016-09-11 00:00:00',
       '2016-09-30 00:00:00', '2016-10-09 00:00:00',
       '2016-10-03 00:00:00', '2016-10-06 00:00:00',
       '2016-10-11 00:00:00', '2016-09-24 00:00:00',
       '2016-09-29 00:00:00', '2016-10-13 00:00:00',
       '2016-09-28 00:00:00', '2016-10-08 00:00:00',
       '2016-10-07 00:00:00', '2016-08-28 00:00:00',
       '2016-10-17 00:00:00', '2016-10-18 00:00:00',
       '2016-10-10 00:00:00', '2016-10-16 00:00:00',
       '2016-10-04 00:00:00', '2016-10-15 00:00:00',
       '2016-10-19 00:00:00', '2016-10-21 00:00:00',
       '2016-10-12 00:00:00', '2016-10-24 00:00:00',
       '2016-10-26 00:00:00', '2016-10-23 00:00:00',
       '2016-10-20 00:00:00', '2016-10-25 00:00:00',
       '2016-10-27 00:00:00', '2016-10-28 00:00:00',
       '2016-10-30 00:00:00', '2016-10-29 00:00:00',
       '2016-11-01 00:00:00', '2016-11-04 00:00:00',
       '2016-10-14 00:00:00', '2016-11-07 00:00:00',
       '2016-11-03 00:00:00', '2016-11-10 00:00:00',
       '2016-11-14 00:00:00', '2016-11-02 00:00:00',
       '2016-10-31 00:00:00', '2016-11-11 00:00:00',
       '2016-11-08 00:00:00', '2016-11-05 00:00:00',
       '2016-11-25 00:00:00', '2016-11-09 00:00:00',
       '2016-11-20 00:00:00', '2016-11-21 00:00:00',
       '2016-10-22 00:00:00', '2016-11-22 00:00:00',
       '2016-11-16 00:00:00', '2016-11-23 00:00:00',
       '2016-11-17 00:00:00', '2016-11-06 00:00:00',
       '2016-11-15 00:00:00', '2016-11-13 00:00:00',
       '2016-11-12 00:00:00', '2016-11-27 00:00:00',
       '2016-11-19 00:00:00', '2016-11-30 00:00:00',
       '2016-12-02 00:00:00', '2016-12-04 00:00:00',
       '2016-11-29 00:00:00', '2016-12-07 00:00:00',
       '2016-11-28 00:00:00', '2016-12-03 00:00:00',
       '2016-12-06 00:00:00', '2016-11-24 00:00:00',
       '2016-12-08 00:00:00', '2016-12-05 00:00:00',
       '2016-12-10 00:00:00', '2016-11-18 00:00:00',
       '2016-12-13 00:00:00', '2016-12-14 00:00:00',
       '2016-12-16 00:00:00', '2016-12-15 00:00:00',
       '2016-12-17 00:00:00', '2016-12-19 00:00:00',
       '2016-12-21 00:00:00', '2016-12-20 00:00:00',
       '2016-12-22 00:00:00', '2016-12-23 00:00:00',
       '2016-12-24 00:00:00', '2016-12-01 00:00:00',
       '2016-12-27 00:00:00', '2016-12-29 00:00:00',
       '2016-12-30 00:00:00', '2016-12-12 00:00:00',
       '2017-01-02 00:00:00', '2016-12-11 00:00:00',
       '2017-01-04 00:00:00', '2017-01-01 00:00:00',
       '2016-12-26 00:00:00', '2017-01-06 00:00:00',
       '2016-12-28 00:00:00', '2016-12-18 00:00:00',
       '2017-01-10 00:00:00', '2017-01-11 00:00:00',
       '2017-01-07 00:00:00', '2017-01-12 00:00:00',
       '2017-01-16 00:00:00', '2017-01-14 00:00:00',
       '2017-01-13 00:00:00', '2017-01-05 00:00:00',
       '2017-01-03 00:00:00', '2017-01-17 00:00:00',
       '2016-12-09 00:00:00', '2017-01-20 00:00:00',
       '2017-01-26 00:00:00', '2016-12-31 00:00:00',
       '2017-01-23 00:00:00', '2017-01-28 00:00:00',
       '2017-01-19 00:00:00', '2017-01-27 00:00:00',
       '2017-01-25 00:00:00', '2017-01-24 00:00:00',
       '2017-01-29 00:00:00', '2017-01-18 00:00:00',
       '2016-12-25 00:00:00', '2017-01-15 00:00:00',
       '2017-01-21 00:00:00', '2017-02-01 00:00:00',
       '2017-02-02 00:00:00', '2017-01-31 00:00:00',
       '2017-02-03 00:00:00', '2017-02-04 00:00:00',
       '2017-02-06 00:00:00', '2017-02-07 00:00:00',
       '2017-02-08 00:00:00', '2017-01-30 00:00:00',
       '2017-02-09 00:00:00', '2017-01-09 00:00:00',
       '2017-02-11 00:00:00', '2017-02-10 00:00:00',
       '2017-02-12 00:00:00', '2017-02-13 00:00:00',
       '2017-02-14 00:00:00', '2017-02-16 00:00:00',
       '2017-02-17 00:00:00', '2017-02-18 00:00:00',
       '2017-02-19 00:00:00', '2017-02-20 00:00:00',
       '2017-02-15 00:00:00', '2017-02-21 00:00:00',
       '2017-02-22 00:00:00', '2017-02-26 00:00:00',
       '2017-02-23 00:00:00', '2017-02-24 00:00:00',
       '2017-02-25 00:00:00', '2017-02-28 00:00:00',
       '2017-03-05 00:00:00', '2017-02-27 00:00:00',
       '2017-03-03 00:00:00', '2017-03-06 00:00:00',
       '2017-03-02 00:00:00', '2017-03-08 00:00:00',
       '2017-03-09 00:00:00', '2017-03-10 00:00:00',
       '2017-03-07 00:00:00', '2017-03-12 00:00:00',
       '2017-03-13 00:00:00', '2017-03-14 00:00:00',
       '2017-03-01 00:00:00', '2017-03-18 00:00:00',
       '2017-03-17 00:00:00', '2017-03-24 00:00:00',
       '2017-03-22 00:00:00', '2017-03-26 00:00:00',
       '2017-03-27 00:00:00', '2017-03-11 00:00:00',
       '2017-03-28 00:00:00', '2017-03-29 00:00:00',
       '2017-03-30 00:00:00', '2017-03-31 00:00:00',
       '2017-03-19 00:00:00', '2017-01-22 00:00:00',
       '2017-04-02 00:00:00', '2017-03-20 00:00:00',
       '2017-04-03 00:00:00', '2017-01-08 00:00:00',
       '2017-03-23 00:00:00', '2017-04-05 00:00:00',
       '2017-03-15 00:00:00', '2017-04-07 00:00:00',
       '2017-03-25 00:00:00', '2017-04-08 00:00:00',
       '2017-04-06 00:00:00', '2017-03-21 00:00:00',
       '2017-04-04 00:00:00', '2017-04-10 00:00:00',
       '2017-02-05 00:00:00', '2017-04-01 00:00:00',
       '2017-04-11 00:00:00', '2017-04-13 00:00:00',
       '2017-04-15 00:00:00', '2017-04-12 00:00:00',
       '2017-03-04 00:00:00', '2017-04-19 00:00:00',
       '2017-04-22 00:00:00', '2017-04-20 00:00:00',
       '2017-05-02 00:00:00', '2017-04-09 00:00:00',
       '2017-04-23 00:00:00', '2017-04-24 00:00:00',
       '2017-04-16 00:00:00', '2017-04-28 00:00:00',
       '2017-04-18 00:00:00', '2017-04-26 00:00:00',
       '2017-04-25 00:00:00', '2017-04-17 00:00:00',
       '2017-04-21 00:00:00', '2017-05-03 00:00:00',
       '2017-05-04 00:00:00', '2017-03-16 00:00:00',
       '2017-05-05 00:00:00', '2017-04-29 00:00:00',
       '2017-04-14 00:00:00', '2017-05-08 00:00:00',
       '2017-04-27 00:00:00', '2017-05-01 00:00:00',
       '2017-05-10 00:00:00', '2017-05-13 00:00:00',
       '2017-05-06 00:00:00', '2017-05-14 00:00:00',
       '2017-05-16 00:00:00', '2017-04-30 00:00:00',
       '2017-05-15 00:00:00', '2017-05-07 00:00:00',
       '2017-05-09 00:00:00', '2017-05-17 00:00:00',
       '2017-05-21 00:00:00', '2017-05-12 00:00:00',